
@font-face {
    font-family: 'Code Bold';
    src: url('../fonts/code_bold-webfont.eot');
    src: url('../fonts/code_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/code_bold-webfont.woff2') format('woff2'), url('../fonts/code_bold-webfont.woff') format('woff'), url('../fonts/code_bold-webfont.ttf') format('truetype'), url('../fonts/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Code Light';
    src: url('../fonts/code_light-webfont.eot');
    src: url('../fonts/code_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/code_light-webfont.woff2') format('woff2'), url('../fonts/code_light-webfont.woff') format('woff'), url('../fonts/code_light-webfont.ttf') format('truetype'), url('../fonts/code_light-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shorelines';
    src: url('../fonts/shorelines_script_bold-webfont.eot');
    src: url('../fonts/shorelines_script_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/shorelines_script_bold-webfont.woff2') format('woff2'),
         url('../fonts/shorelines_script_bold-webfont.woff') format('woff'),
         url('../fonts/shorelines_script_bold-webfont.ttf') format('truetype'),
         url('../fonts/shorelines_script_bold-webfont.svg#shorelines_script_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir Black';
    src: url('../fonts/AvenirLTStd-Black.eot');
    src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
         url('../fonts/AvenirLTStd-Black.woff') format('woff'),
         url('../fonts/AvenirLTStd-Black.ttf') format('truetype'),
         url('../fonts/AvenirLTStd-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
         url('../fonts/AvenirLTStd-Book.woff') format('woff'),
         url('../fonts/AvenirLTStd-Book.ttf') format('truetype'),
         url('../fonts/AvenirLTStd-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir Heavy';
    src: url('../fonts/AvenirLTStd-Heavy.eot');
    src: url('../fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
         url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
         url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype'),
         url('../fonts/AvenirLTStd-Heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir Medium';
    src: url('../fonts/AvenirLTStd-Medium.eot');
    src: url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
         url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
         url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
         url('../fonts/AvenirLTStd-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
