@import "colors";

$ease: ease-out;
$time: 0.3s;
$delay: 0.2s;

/*     GUITAR     */
#guitarSVG {
  cursor:pointer;
    #body-thick {
        fill: #3F3F3F;
    }
    #peg {
        fill: #282828;
    }
    #guitar-body {
        fill: #161616;
    }
    #guitar-cover {
        fill: #333333;
    }
    #head-back {
        fill: #444444;
        transition-property: fill;
        transition-duration: $time;
        transition-timing-function: $ease;
        transition-delay: $delay;
    }
    #arm-back {
        fill: #757575;
        transition-property: fill;
        transition-duration: $time;
        transition-timing-function: $ease;
        transition-delay: $delay;
    }
    #arm {
        fill: #8E8E8E;
        transition-property: fill;
        transition-duration: $time;
        transition-timing-function: $ease;
        transition-delay: $delay;
    }
    // CONTROLLER
    .st7 {
        fill: #666666;
    }
    .st8 {
        fill: #111111;
    }
    .st9 {
        fill: #777777;
    }
    .st10 {
        fill: #141414;
    }
    //CONTROLLER
    .st11 {
        fill: #9B9B9B;
    }
    .st12 {
        fill: #1C1C1C;
    }
    .st13 {
        fill: #565656;
    }
    .st14 {
        fill: #383838;
    }
    .st15 {
        fill: #353535;
    }
    .st16 {
        fill: #D6D6D6;
    }
    .st17 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 0.3;
        stroke-miterlimit: 10;
    }
    .st18 {
        fill: #E5E5E5;
    }
    &:hover {
        #arm {
            fill: #cbae59;
        }
        #head-back {
            fill: #795621;
        }
        #arm-back {
            fill: #9e8333;
        }
    }
}
