@import "guitar";
@import "mic";
@import "colors";
@import "mouth";
@import "ticket";
@import "fonts";
@import "normalize";
@import "anim";
$heading: 'Code Bold';
$georgia: 'Shorelines';
$body: 'Avenir Book';
$button: 'Avenir Medium';
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
* {
    box-sizing: border-box;
}
body {
    font-family: $body;
    font-size: 1em;
    background-color: #fff;
}
@import "mobile";
@import "tablet";
@import "desktop";
